//My own
html,
body {
  overflow-x: hidden
}

body {

  background-color: rgb(255 253 226);
  background-image: radial-gradient(#281b11 0.5px, transparent 0.5px), radial-gradient(#281b11 0.5px, rgb(255 253 226) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  margin: 0;
}

.bodyContainer {
  position: relative;

}

.backgroundDesignBox1 {
  position: absolute;
  z-index: -4;

  top: 25px;
  width: 100%;
  height: 235px;
  margin: 0 0 0 0;

  background-color: #893f0645;

}



.backgroundDesignBox1 {
  animation: fadeInAnimation ease 1.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}





@media (max-width: 1200px) {

  .backgroundDesignBox1 {
    top: 45px;
  }
}

@media (max-width: 992px) {
  .backgroundDesignBox1 {
    top: 210px;
  }

}

@media (max-width: 768px) {
  .backgroundDesignBox1 {
    top: 210px;
  }
}

@media (max-width: 576px) {
  .backgroundDesignBox1 {
    //top: 385px;
  }
}


























@font-face {
  font-family: myLogoFont;
  src: url(./fonts/BilboSwashCaps-Regular.ttf);
  //font-weight: bold;
}

@font-face {
  font-family: baseFont;

  src: url(./fonts/WorkSans-Regular.ttf);
  //font-weight: bold;
}



$font-family: baseFont;

* {
  font-family: baseFont;
  line-height: 22px;
}



p {
  margin: 0;
  color: #212529;
  font-size: 18px;

}

h1 {
  color: #212529;
  line-height: 30px;

}

h2 {
  color: #212529;
  margin-top: 10px;

}

h3 {
  color: #212529;


}

a {
  text-decoration-color: none;
  color: none;
}

a:visited {
  text-decoration-color: none;
  color: none;
}