@import url(https://fonts.googleapis.com/css?family=Nunito);
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: grid !important;
    justify-content: right;
  }
}
.navbar-brand {
  font-size: 28px;
}

.nav-item {
  color: rgb(28, 28, 28);
  font-family: sans-serif;
  letter-spacing: 1.5px;
  margin: 0 10px;
  font-size: 18px;
}

body {
  background-color: rgb(248, 247, 230);
}

.aboutContainer {
  max-width: 725px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.aboutProfileImage {
  border-radius: 50%;
  margin: 50px 0px;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 10%;
     object-position: 100% 10%;
  max-width: 150px;
}
