.aboutContainer {
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

    margin-top: 90px;
    margin-bottom: 100px;

    margin-right: auto;
    margin-left: auto;

    padding: 0px 10px;

    display: flex;

}

@media (min-width: 576px) {
    .aboutContainer {
        max-width: 500px;

    }
}

@media (min-width: 992px) {
    .aboutContainer {
        max-width: 750px;

    }
}


@media (min-width: 1150px) {
    .aboutContainer {
        max-width: 950px;

    }
}

///////////////////////////////////////////////////////////////




.aboutImageContainer {

    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.aboutImage {

    border-radius: 50%;

    margin: 20px 20px;

    width: 180px;
    height: 180px;

    object-fit: cover;
    object-position: 100% 10%;

    max-width: 180px;
    flex-grow: 3;
}


///////////////////////////////////////////////////////////////
.aboutTextAndLinksContainer {

    display: flex;
    flex-grow: 3;
    flex-direction: row;
    flex-basis: 0;

}



.aboutTextContainer {
    flex-basis: 0;
    flex-grow: 3;
    display: flex;
    flex-flow: column;



    //align-content: center;

    margin-top: 45px;
    margin-bottom: 20px;
    padding: 15px;

}

.aboutTextHeadline{

    margin-bottom: 3px;
    
    font-weight: bold;
    font-size: 18px;
    //font-family: "Segoe UI";

}

.aboutText {

    display: block;
    align-items: center;
   // margin-top:45px;
    margin-bottom:0px;
    font-family:'Segoe UI';
    
}


.aboutContact {

    display: flex;
    margin-bottom: 0;
    font-weight: bold;
    //font-family: "Segoe UI";
}

.aboutContact .aboutContacGreen{

    color: #4ac44a;;
font-weight: bold;
//font-family: "Segoe UI";
}



///////////////////////////////////////////////////////////////

.aboutLinksContainer {

    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: start;
    padding: 15px;
    margin-top: 80px;
    //font-family: "Segoe UI";

}

.aboutLink {

    display: flex;
    text-decoration: none;
    //font-family: "Segoe UI";
}

.aboutLinkIcon {

   height: 16px;
   filter: opacity(0.5) drop-shadow(0 0 0 blue);

}



///////////////////////////////////////////////////////////////

@media (max-width: 992px) {
    .aboutImage{
        margin-top: 30px;
    }

    .aboutContainer {
        flex-flow: column;
        padding: 20px 10px;
    }

    .aboutTextAndLinksContainer {
        flex-direction: column;
    }

    .aboutTextContainer {
        margin-top: 0px;
    }


    .aboutText {
        text-align: center;
        margin-top: 0px;
    }

    .aboutLinksContainer {
        align-items: center;
        margin-top: 0px;
        padding-top: 0;
    }

    .aboutContact{
        justify-content: center;

    }
    
    .aboutTextHeadline{

    text-align: center;    
      
        
    }
}


