
.contactContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    max-width: 870px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;



}


//LARGE
/***/
@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
    .contactContainer {
        max-width: 530px;
        flex-flow: column;

    }

 
}
@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
    .contactContainer {
        max-width: 340px;
        flex-flow: column;

    }

}




@import "contactForm";
@import "contactInfo";