


  




.kostaLogoTextContainer{
    width: 390px;

    margin: 0 auto;
    margin-bottom: 50px;

    text-align: center;
}


.kostaLogoText{
    position: relative;
    top: 15px;
    background: #fffde2;
    display: inline-block;
    padding: 0 20px;

    font-weight: 900;
    color: #212529;

}

.kostaLogoLine {
    height: 3px;
    background: #212529;
}

.kostaLogo{
   width: fit-content;

    margin: 0 auto;
    margin-top: 140px;

    text-align: center;

    font-family: myLogoFont;
    font-size: 130px;
    letter-spacing: 25px;
    font-style: italic;
    line-height: 90px;
    color: #212529;

    cursor: pointer;

    //font-weight: bold;


    }