


.aboutImageContainer {

    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

}

.aboutImage {
    
    flex-grow: 3;

    width: 180px;
    height: 180px;
    max-width: 180px;

    margin: 0px 20px;
    margin-bottom: 5px;
    //margin-top: 15px;



    border-radius: 50%;

    object-fit: cover;
    object-position: 100% 10%;
    opacity: 0.94;



}
.aboutImageUkraineIcon {
    
   width: 40px;
   height: auto;
 
 
 }

//LARGE
/***/
@media (max-width: 1200px) {
    .aboutImage{
        margin-top: 0px;

        
    }
}

@media (max-width: 992px) {
    .aboutImage{
        margin-top: 30px;
    }
    .aboutImageContainer {
        flex-flow: column;
        flex-wrap: wrap;
        
    }
    .aboutImageUkraineIcon {
    
       align-self: center;
    
    
    }

}
@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
   
}
