


.aboutImageContainer {

    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

}

.aboutImage {
    
    flex-grow: 3;

    width: 180px;
    max-width: 180px;
    height: 180px;
    margin: 20px 20px;

    border-radius: 50%;

    object-fit: cover;
    object-position: 100% 40%;
    opacity: 0.94;


}

//LARGE
/***/
@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
    .aboutImage{
        margin-top: 30px;
    }

}
@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
   
}
