.aboutTextAndLinksContainer {

    display: flex;
    flex-grow: 3;
    flex-direction: row;
    flex-basis: 0;

}



.aboutTextContainer {
    flex-basis: 0;
    flex-grow: 3;
    display: flex;
    flex-flow: column;




    margin-top: 45px;
    margin-bottom: 20px;
    padding: 15px;

}

.aboutTextHeadline {

    margin-bottom: 3px;

    font-weight: bold;
    font-size: 18px;

}

.aboutText {

    display: block;
    align-items: center;
    margin-bottom: 0px;

}


.aboutContact {

    display: flex;
    margin-bottom: 0;
    font-weight: bold;
    align-items: center;
    //font-family: "Segoe UI";
}

.aboutContact .aboutContacGreen {

    color: #4ac44a;
    
    font-weight: bold;
    //font-family: "Segoe UI";
}



@media (max-width: 992px) {

    .aboutTextAndLinksContainer {
        flex-direction: column;
    }

    .aboutTextContainer {
        margin-top: 0px;
    }


    .aboutText {
        text-align: center;
        margin-top: 0px;
    }

    .aboutContact {
        justify-content: center;

    }

    .aboutTextHeadline {

        text-align: center;


    }
}