.aboutTextAndLinksContainer {

    display: flex;
    flex-grow: 3;
    flex-direction: row;
    flex-basis: 0;

}



.aboutTextContainer {
    display: flex;
    flex-basis: 0;
    flex-grow: 3;
    flex-flow: column;

    margin-top: 45px;
    margin-bottom: 20px;
    padding: 15px;

}

.aboutTextHeadline {

    margin-bottom: 10px;

    font-weight: bold;
    font-size: 18px;

}

.aboutText {

    display: block;
    align-items: center;

    margin-bottom: 0px;

}


.aboutContact {

    display: flex;
    align-items: center;

    margin-bottom: 0;

    font-weight: bold;
}

.aboutContact p {

    margin-left: 10px;
}

.aboutContact .aboutContacGreen {

    margin-right: 10px;
    margin-left: 0px;

    color: #4ac44a;

    font-weight: bold;


}



//LARGE
/***/
@media (max-width: 1200px) {


}

@media (max-width: 992px) {
    .aboutTextAndLinksContainer {
        flex-direction: column;
    }

    .aboutTextContainer {
        margin-top: 0px;
    }

    .aboutText {
        text-align: center;
        margin-top: 0px;
    }

    .aboutContact {
        justify-content: center;

    }

    .aboutTextHeadline {

        text-align: center;

    }
}

@media (max-width: 768px) {

    
}

@media (max-width: 576px) {
    .aboutContact {


        flex-flow: column;
    }

    .aboutContact span {


        display: none; 
    }


}






















