
.aboutLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
    flex-basis: 0;

    margin-top: 80px;
    padding: 15px;

}

.aboutLink {

    display: flex;
    align-items: center;

    text-decoration: none;
    
}

.aboutLink, .aboutLink:visited, .aboutLink:hover, .aboutLink:active {
    color: rgb(49, 49, 221);
  }

.aboutLink * {
    margin-right: 7px;
    transition: 0.2s;
}

.aboutLink:hover * {
    margin-bottom:6px;
}

.aboutLinkIcon {

   height: 16px;
   filter: opacity(0.5) drop-shadow(0 0 0 blue);

}



/******/

@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
    .aboutLinksContainer {
        align-items: center;
        
        margin-top: 0px;
        padding-top: 0;
    }
 
}
@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
   
}


