.aboutContainer {
    display: flex;

    max-width: 950px;

    margin-top: 90px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px;

    background-color: white;
    border-radius: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}


/***/

@media (max-width: 1200px) {
    .aboutContainer {
        max-width: 750px;

    }
}

@media (max-width: 992px) {
    .aboutContainer {
        max-width: 500px;

    }
    .aboutContainer {
        flex-flow: column;
        padding: 20px 10px;
    }
}
@media (max-width: 768px) {
    .aboutContainer {
        max-width: 500px;

    }
}

@media (max-width: 576px) {
    .aboutContainer {
        max-width: 300px;

    }
}





/***/




@import './aboutCardPortrait';
@import './aboutCardText';
@import './aboutCardLinks';


