.commissionContainer{
    display: flex;
    flex-flow: column;
    
    width: 620px;
    margin: auto;
    margin-top: 100px;




}
.commissionContainer p{
    font-size: 19px;
    line-height: 27px;

}