.galleryNavAndGalleryContainer {

    display: flex;
    flex-flow: column;

    max-width: 840px;

    margin-right: auto;
    margin-left: auto;

}


.galleryHeader{
    //padding-bottom: 15px;
    margin-bottom: 30px;
   // border-bottom: 3px solid black;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    height: 60px;


}
/********************************MEDIA*******************************/
/********************************MEDIA*******************************/
/********************************MEDIA*******************************/
/********************************MEDIA*******************************/
@media (max-width: 1200px) {
   
}

@media (max-width: 992px) {
    .galleryNavAndGalleryContainer {
        max-width: 500px;

    }
 
}
@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
    .galleryNavAndGalleryContainer {
        max-width: 300px;

    }
}




@import './galleryBackGroundAnimation';
@import './galleryNavigation';
@import './galleryImages';











































