.infoContainer{
    display: flex;
    flex-flow: row-reverse;
    justify-content: end;
    //width: fit-content;

    max-width: 1220px;
    margin: auto;
}


@media (max-width: 1200px) {
   
   
    }
    
    @media (max-width: 992px) {
        .infoContainer{
            flex-flow: column;
            align-items: center;
            padding: 0 10px;

        }
      
        
         
    }
    @media (max-width: 768px) {
      
    }
    
    @media (max-width: 576px) {
       
      
    }





@import "./infoTopic";
@import "./infoNavBar";

